@model JobPlatform.Controllers.EditJobViewDto

@{
    var hasNoError = string.IsNullOrEmpty(ViewData["errorMessage"]?.ToString());
}

@if(!hasNoError) {
    <div class="alert alert-danger">
        @ViewData["errorMessage"]!.ToString()
    </div>
} else {
    <div class="container">
        <form asp-action="EditJob" asp-controller="Jobs">
            <input type="hidden" asp-for="Id" name="Id" value="@Model.Id" />
            <div class="form-group">
                <label asp-for="MemberUserId">MemberUserId</label>
                <input class="form-control" type="string" asp-for="MemberUserId" name="MemberUserId" value="@Model.MemberUserId" />
            </div>
            <div class="form-group">
                <label asp-for="RequiredCaregivingType">RequiredCaregivingType</label>
                <input class="form-control" type="string" asp-for="RequiredCaregivingType" name="RequiredCaregivingType" value="@Model.RequiredCaregivingType" />
            </div>
            <div class="form-group">
                <label asp-for="OtherReqs">Other requirements</label>
                <input class="form-control" type="string" asp-for="OtherReqs" name="OtherReqs" value="@Model.OtherReqs" />
            </div>

            <input type="submit" class=" mt-2 btn btn-outline-primary" value="Save changes" />
        </form>
    </div>
}
